@import "tailwindcss";
@import "./components.css";

@theme {
  --color-c-purple: #b7b1f2;
  --color-c-light-pink: #ffe4ef;
  --color-c-pink: #f39eb6;
  --color-c-green: #b8db80;
  --color-c-light-yellow: #f3cf7a;
  --color-c-yellow: #f2b933;
  --color-dark-purple: #1f1738;
  --color-dark-purple: #1f1738;
  --color-bg-grey: #f5f5f5;
}
